In [5]:
import pandas as pd
s = pd.Series(['dog', 'cat', 'dog', 'bird', 'fox', 'dog'])
s

0     dog
1     cat
2     dog
3    bird
4     fox
5     dog
dtype: object

In [3]:
pd.get_dummies(s)

   bird  cat  dog  fox
0     0    0    1    0
1     0    1    0    0
2     0    0    1    0
3     1    0    0    0
4     0    0    0    1
5     0    0    1    0

In [4]:
pd.get_dummies(s).idxmax(1)

0     dog
1     cat
2     dog
3    bird
4     fox
5     dog
dtype: object